<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
    <script>
        // JavaScript code to show an alert on page load
        window.onload = function() {
            alert("Congratulations! you have found the login page of Omega's. Remember, the CEO is called the 'B0ss' of company.");
        };
    </script>
    <style>
        .text {
            color: grey;
            text-align: center;
            margin-top: 20px;
            font-style: italic;
            opacity: 0.5;
            font-size: 12px; 
        }
    </style>
</head>
<body>
    <div class="login-container">
        <h2>Login</h2>
        <form method="POST" action="{{ url_for('login') }}">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" placeholder="jichangw00k@moebius.com" required>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" placeholder="W00k" required>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <button type="submit">Login</button>
        </form>
        
        <div class="text">
            --- -- --. -.-.-- / .-.. --- --. .. -.-. .- .-.. / ..-. .-.. .- .-- -.-.-- / --- -. .-.. -.-- / . -- .- .. .-.. ... / -.-. .... . -.-. -.- . -.. -.-.--
        </div>
    </div>
</body>
</html>
